.maincontainer
{
background-color: #c5c5c2;
}
.container{
  max-width: 400px;
  min-height: 450px;
  margin: 0 auto;
  background-color: #5d532091;
  box-shadow: 0 0 10px black;
  margin-top: 10px;
  padding: 4px 5px;
}
.textcentera {
  text-align: center;
  background: rgb(150, 149, 129);
 box-shadow: 0 0 10px blue;
}
.textcenter {
  text-align: center;
}

.expcontainer {
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 10px blue;

}

.trnslist {
  margin: 0;
  padding: 0;
}

.trnslist > li {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px gray;
  padding: 10px 15px;
  background-color: white;
  margin: 5px 0;
  border-radius: 4px;
}

.transform input {
  width: 96%;
  margin: 10px 0;
  padding: 8px 5px;
}